* {
    margin: 0;
    padding: 0;
    font-family: "Avenir", "Arial";
    box-sizing: border-box;
}
* a {
    text-decoration: none;
    color: inherit;
}
* i {
    vertical-align: middle;
}
*.no-margin {
    margin-bottom: 0 !important;
}

body {
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
}

b {
    font-weight: 600;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14px;
}

section {
    padding: 0 55px 0 55px;
    margin-top: 35px;
}

main {
    padding-bottom: 40px;
}

header {
    align-items: center;
    justify-content: space-between;
    padding: 40px 55px 0 55px;
}

header h1 {
    font-size: 40px;
    font-weight: 200;
    line-height: 40px;
}

header a {
    font-size: 14px;
    font-weight: 100;
}

header a:nth-of-type(even) {
    margin: 0 10px;
}

.skills div p:nth-child(2)::before {
    content: '\2014';
    margin: 0 4px;
}

.skills div p:nth-child(2) {    
    font-size: 12px;
}

.title h4 {
    font-size: 12px;
    font-weight: 900;
}

.item-title p:nth-child(2)::before {
    content: '\2014';
    margin: 0 4px;
}

.item {
    margin: 10px 0;
}
.item-title p {
    font-size: 12px;
}
.item-title small {
    margin-left: auto;
    font-size: 10px;
}

.item-content {
    margin: 2px 0 0 0;
}

.item-content p {
    font-size: 11px;
}

.links {
    margin-top: 4px;
}
.links a {
    font-size: 12px;
}

.links a:nth-of-type(odd) {
    margin: 0 10px 0 0;
}

.education .item div:nth-child(2) {
    margin-top: 10px;
}

#private {
    color: grey;
    cursor: not-allowed;
}

#grey {
    font-weight: 400;
    font-size: 12px;
}


#classes {
    font-size: 12px;
}