* {
    margin: 0;
    padding: 0;
    font-family: "Avenir", "Arial";
    box-sizing: border-box;
}
* a {
    text-decoration: none;
    color: inherit;
}
* i {
    vertical-align: middle;
}
*.no-margin {
    margin-bottom: 0 !important;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 8.5in;
    height: 11in;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

b {
    font-weight: 600;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14px;
}

section {
    padding: 30px 40px 0 40px;
}

header {
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 0 40px;
}

header h1 {
    font-size: 40px;
    font-weight: 500;
}

header a {
    font-size: 14px;
    font-weight: 100;
}

header a:nth-of-type(even) {
    margin: 0 10px;
}

.skills div p:nth-child(2)::before {
    content: '\2014';
    margin: 0 4px;
}

.skills div p:nth-child(2) {    
    font-size: 12px;
}

.title h4 {
    font-size: 14px;
    font-weight: 900;
}

.item-title p:nth-child(2)::before {
    content: '\2014';
    margin: 0 4px;
}

.item {
    margin: 20px 0;
}

.item-title small {
    margin-left: auto;
    font-size: 12px;
}

.item-content {
    margin: 4px 0 0 10px;
}

.item-content p {
    font-size: 12px;
}

.item-content p::before {
    content: '\2013';
    margin-right: 4px;
}

#grey {
    font-weight: 400;
    font-size: 12px;
}

.education .item div p:nth-child(2)::before {
    content: '\2014';
    margin: 0 4px;
}