* {
  margin: 0;
  padding: 0;
  font-family: "Avenir", "Arial";
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: inherit;
}
* i {
  vertical-align: middle;
}
*.no-margin {
  margin-bottom: 0 !important;
}

body {
  width: 8.5in;
  height: 11in;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.row {
  display: flex;
}

header {
  padding: 30px 35px 30px 35px;
  align-items: center;
}
h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  width: 72.5%;
}
.contacts {
  width: 27.5%;
}
.contacts a {
  display: block;
}

main {
  padding: 0 35px;
  justify-content: space-between;
}

.main-sec:nth-last-of-type(even) {
  margin: 50px 0;
}

h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  color: #3c4dc7;
}
.col-m {
  width: 67.5%;
}
.col-s {
  width: 27.5%;
}

/* side column */
p {
  font-size: 12px;
}
a {
  font-size: 12px;
}

.col-s section {
  margin-bottom: 30px;
}

/* main column */
.item {
  margin-bottom: 20px;
}

.item-title {
  align-items: center;
}

.item-title p {
  font-size: 14px;
}

.item-title p:nth-child(1) {
  font-weight: 600;
}
.item-title p:nth-child(1)::after {
  content: '\2014';
  margin: 0 4px;
}

.date {
  font-weight: 300;
  font-size: 11px !important;
  font-style: italic;
  margin-left: auto;
}

.item-info {
  margin-top: 2px;
}
.item-info p {
  font-size: 11px;
}
.item-info p::before {
  content: '\25CB';
}

.proj .item-title p:nth-child(2) {
  font-weight: 300;
  font-size: 11px;
  font-style: italic;
  margin-left: auto;
}

.proj .item-title p:nth-child(1)::after {
  content: none;
}

.tech {
  margin-top: 4px;
}
.tech p:nth-of-type(even) {
  margin: 0 12px;
}
.links {
  margin-top: 4px;
}
.links a:nth-of-type(even) {
  margin: 0 12px;
}

.private {
  color: grey;
}

.education div:nth-of-type(even) {
  margin: 4px 0;
}

.school p:nth-child(1) {
  font-weight: 600;
}
.school p:nth-child(1)::after {
  content: '\2014';
  margin: 0 4px;
}


